.Rproj.user
.Rhistory
.RData
.Ruserdata
results/data/ruprecht_clusters.xlsx
results/data/ruprecht_clusters.csv
results/data/ruprecht_clusters.csv
results/data/ruprecht_clusters.csv
RWHN_Phosphoproteomics.Rproj
data/9606.protein.links.detailed.v11.0.txt
